.map-container-wrapper-2{
    position: relative;
    width: 350px;
    height: 250px;
}
.map-container-wrapper-2 .map-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
}