.Home-section1 {
  margin-top: 5rem;
  color: white;
  margin: 8rem 0;
  font-size: 2rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.blueColor {
  color: #456ee1;
}
.addwrapper {
  display: block;
}
.addwrapper > ol {
  list-style: none;
  counter-reset: item;
}
.addwrapper > li {
  counter-increment: item;
  margin-bottom: 5px;
}
.qrWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
  padding: 0 10%;
  width: 80%;
}

.childDevices {
  margin-left: 8%;
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
}
.homePP {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: -6rem !important;
  margin-bottom: 3rem;
}
.Home-bg {
  position: absolute;
  z-index: -2;
  width: 100%;
  left: 0;
  top: 0;
}
.Home-rest {
  margin: 0 8%;
}
.Home-section-cards {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 7rem;
}
.Home-card {
  align-items: normal !important;
}

.interest-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.interest-select {
  background-color: white;
  border-radius: 1000px;
  border: 1px solid black;
  text-align: center;
  font-size: 0.8rem;
  padding: 0.3rem 1rem;
  display: flex;
  cursor: pointer;
}
.interest-select img {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}
.HomeCard-button {
  margin-top: 2rem;
  padding: 0.6rem 2rem;
  font-size: 1.1rem;
  color: white;
  background: #1e1e1e;
  border-radius: 30px;
  cursor: pointer;
}
button:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.info-wrapper {
  display: flex;
}
