@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --HMPLogoBlue: #013765;
  --HMPLogoGrey: #8b8a8f;
  --HMPLogoYellow: #fdce02;
  --HMPOffWhite: #f3f3f4;
  --HMPOffWhiteCircle: #f3f3f466;
  --HMPBlue: #0062b5;
  --HMPSideBarIcons: #013765;
  --HMPLightBlue: #b8ddfc80;
  --DarkBG: #000010;
}

body,
html,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.App {
  /* padding: 0.5rem 3.5rem; */
  color: var(--black);
  background: #ffffff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
}

.AppGlass {
  display: grid;
  height: 97%;
  width: 97%;
  background: var(--glass);
  border-radius: 2rem;
  gap: 16px;
  grid-template-columns: 15rem auto 22rem;
}

@media screen and (max-width: 1200px) {
  .AppGlass {
    grid-template-columns: 10% 50% auto;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 768px) {
  .AppGlass {
    grid-template-columns: 1fr;
  }
}




/* map css */



.sidebarr {
  position: absolute;
  width: 33.3333%;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.map {
  position: absolute;
  left: 33.3333%;
  width: 66.6666%;
  top: 0;
  bottom: 0;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .map {
    left: 0%;
    width: 100%;
  }
}

/* 
h1 {
  font-size: 22px;
  margin: 0;
  font-weight: 400;
  line-height: 20px;
  padding: 20px 2px;
} */

/* a {
  color: #404040;
  text-decoration: none;
}

a:hover {
  color: #101010;
} */

.heading {
  background: #fff;
  border-bottom: 1px solid #eee;
  min-height: 60px;
  line-height: 60px;
  padding: 0 10px;
  background-color: #ff6f2a;
  color: #fff;
}

.listings {
  height: 100%;
  overflow: auto;
  padding-bottom: 60px;
}

.listings .item {
  display: block;
  border-bottom: 1px solid #eee;
  padding: 10px;
  text-decoration: none;
}

.listings .item:last-child {
  border-bottom: none;
}

.listings .item .title {
  display: block;
  color: #ff6f2a;
  font-weight: 700;
}

.listings .item .title small {
  font-weight: 400;
}

.listings .item.active .title,
.listings .item .title:hover {
  color: #fc9363;
}

.listings .item.active {
  background-color: #f8f8f8;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #fc9363;
  border-radius: 0;
}

.marker {
  border: none;
  cursor: pointer;
  height: 56px;
  width: 56px;
  background-repeat: no-repeat;
  background-position: center;
}

.marker--hotels {
  background-image: url(./assets/top-places-marker.png);
}

/* Marker tweaks */
.mapboxgl-popup {
  padding-bottom: 50px;
}

.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content {
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', sans-serif;
  padding: 0;
  width: 180px;
}

.mapboxgl-popup-content h3 {
  background: #ff6f2a;
  color: #fff;
  margin: 0;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  font-weight: 700;
  margin-top: -15px;
}

.mapboxgl-popup-content h4 {
  /* @apply text-black bg-white dark: text-white dark:bg-gray-800; */
  color: #000010;
  background-color: #fff;
}

.mapboxgl-popup-content {
  /* @apply bg-white dark: bg-gray-800; */
  background-color: #fff;
}

.mapboxgl-popup-content h4 {
  margin: 0;
  padding: 10px;
  font-weight: 400;
}

.mapboxgl-popup-content div {
  padding: 10px;
}

.mapboxgl-popup-anchor-top>.mapboxgl-popup-content {
  margin-top: 15px;
}

.mapboxgl-popup-anchor-top>.mapboxgl-popup-tip {
  border-bottom-color: #fc9363;
}

.geocoder {
  position: absolute;
  z-index: 1;
  width: 50%;
  left: 50%;
  margin-left: -25%;
  top: 10px;
}

.mapboxgl-ctrl-geocoder {
  min-width: 100%;
}

.mile {
  position: absolute;
  z-index: 1;
  width: 50%;
  left: 50%;
  margin-left: 25%;
  top: 10px;
}

/* @media (prefers-color-scheme: dark) {
  .listings .item.active {
    background-color: rgb(55, 65, 81);
  }

  .mapboxgl-popup-content h4 {
    background-color: rgb(15, 20, 33);
  }
} */